@model MyStore.WebUI.Models.PasswordViewModel

@{
    ViewBag.Title = "User: Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary()
    @* 
        //todo: Session-9.1 Cross Site Request Forgery Fix (FORM) 
    *@
    @*@Html.AntiForgeryToken()*@
    <fieldset>
        <legend>Change password.</legend>
        @*<div class="control-group">
                @Html.LabelFor(m => m.CurrentPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(m => m.CurrentPassword)
                </div>
            </div>*@
        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @*@Html.EditorFor(m => m.NewPassword)*@
                <input id="NewPassword" name="NewPassword" type="password" value="@Model.NewPassword" />
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @*@Html.EditorFor(m => m.ConfirmPassword)*@
                <input id="ConfirmPassword" name="ConfirmPassword" type="password" value="@Model.ConfirmPassword" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Change password" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
}



